.App {
  text-align: center;
}

body {
  background-color: #28382c; /* Udskift med den ønskede baggrundsfarve */
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
