.App {
  text-align: center;
}
html{
  background-color: #28382c; /* Udskift med den ønskede baggrundsfarve */
}

.CalendarBox {
 color:#28382c;
 background-color: white; 
 display: flex;
 justify-content: center; /* Centrerer indholdet vandret */
 align-items: center; /* Centrerer indholdet lodret */
 width: 100%; /* Juster bredden efter behov */
}

.App-header {
  color: rgb(255, 255, 255);
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
